h2{
    padding-top: 30px;
    font-size: 60px;
    color: rgb(253, 52, 162);
    margin-left: 30%;   
}

h4{
    margin-top: 40px;
    margin-left: 40%;
}

ul li{
    margin-left: 30%;
    margin-bottom: 30px;
}
.odd {
    background-color: hsl(284, 100%, 80%);
    border: 1px solid black;
    margin-right: 550px;
    text-align: center;
  }
  
  .even {
    background-color: #9bdcf8;
    border: 1px solid black;
    margin-right: 550px;
    text-align: center;
  }

table {
    border-collapse: collapse;
    margin-left: 27%;
}

td{
   text-align: center;
    border: 1px solid black;
}

th{
    border-radius: 20%;
    color: rgb(248, 241, 231);
    background-color: plum;
    
}